/*
 * Empty Stylesheet file.
 */

.root{
    -fx-position: absolute;
    -fx-width: 1600px;
    -fx-height: 1200px;
    -fx-left: -81px;
    -fx-top: -67px;
    -fx-background-color:#E6EFFB;
}

.txt{
    -fx-position: absolute;
    -fx-width: 234px;
    -fx-height: 84px;
    -fx-left: 0px;
    -fx-top: 0px;
    -fx-background-color:#E6EFFB ;
    -fx-font-family: "FontAwesome";
}
.icon {
    -fx-font-family: "FontAwesome";
}
.addbtn{
    -fx-background-color: #034396;
    -fx-text-fill: white;
    -fx-font-size: 16px;

    -fx-background-radius: 8px;
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
.modifybtn{
    -fx-background-color: #002657;
    -fx-text-fill: white;
    -fx-font-size: 16px;

    -fx-background-radius: 8px;
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.deletebtn{
    -fx-background-color: #f8a375;
    -fx-text-fill: white;
    -fx-font-size: 16px;

    -fx-background-radius: 8px;
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}