/*
 * Empty Stylesheet file.
 */

.root{
    -fx-position: absolute;
    -fx-width: 1600px;
    -fx-height: 1200px;
    -fx-left: -81px;
    -fx-top: -67px;
    -fx-background-color:#E6EFFB;
}

.txt{
    -fx-position: absolute;
    -fx-width: 234px;
    -fx-height: 84px;
    -fx-left: 0px;
    -fx-top: 0px;
    -fx-background-color:#E6EFFB ;
    -fx-font-family: "FontAwesome";
}
.icon {
    -fx-font-family: "FontAwesome";
}
.addbtn{
    -fx-background-color: #034396;
    -fx-text-fill: white;
    -fx-font-size: 16px;

    -fx-background-radius: 8px;
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -fx-cursor:hand;

}
.addbtn::hover{
    -fx-background-color: #ffffff;
    -fx-text-fill: #034396;
    -fx-font-size: 16px;
}
.modifybtn{
    -fx-background-color: #002657;
    -fx-text-fill: white;
    -fx-font-size: 16px;

    -fx-background-radius: 8px;
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -fx-cursor:hand;
}
.modifybtn::hover{
    -fx-background-color:linear-gradient (to bottom right, #3862c2, #4284d0);
}
.deletebtn{
    -fx-background-color: #f8a375;
    -fx-text-fill: white;
    -fx-font-size: 16px;

    -fx-background-radius: 8px;
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -fx-cursor:hand;

}
.deletebtn::hover{
    -fx-background-color:linear-gradient (to bottom right, #3862c2, #4284d0);

}
.default-color0.chart-bar {
    -fx-bar-fill:  #447ce3; 
}
.combo-box {
    -fx-background-color: white;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

.combo-box .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.combo-box .list-cell:hover {
    -fx-background-color: lightgray;
}

.combo-box .list-view {
    -fx-background-color: white;
    -fx-font-size: 14px;
}
.button3{
    -fx-background-color:#fff;
}
.button3:hover{
    -fx-background-color:#D3D3D3;
}
.button3:pressed{
    -fx-background-color:#fff;
}
